<!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h1 class="mb-5">Who We Are</h1>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{{url_for('static', filename = 'styles/img/Luke.jpg')}}"  alt="" onclick="window.open('https://www.linkedin.com/in/luke-simon-8b1555138/', '_blank');">
              <h5>Luke Simon</h5>
              <p class="font-weight-light mb-0">Senior, Major: Information Systems, Minor: Data Analysis and Mining</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src= "{{url_for('static', filename = 'styles/img/JK.jpg')}}" alt="" onclick="window.open('https://www.linkedin.com/in/jameskash/', '_blank');"/>
              <h5>James Kash</h5>
              <p class="font-weight-light mb-0">Senior, Major: Computer Science</p>
            </div>
          </div>
          <div class="col-lg-4">
           
          </div>
        </div>
      </div>
    </section>