<!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style= "background-image: url({{ url_for('static', filename = 'styles/img/HCSC.png')}});" ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Made With You in Mind</h2>
            <p class="lead mb-0">Health Care Service Corporation (HCSC) has medical policies that serve as guidelines for health care benefit coverage decisions, which may vary according to the different products and benefit plans offered by each state.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url({{ url_for('static', filename = 'styles/img/medical.jpg')}});"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Types of Health Insurance</h2>
            <p class="lead mb-0">Taxpayer-funded: funded by federal and state taxes; examples are Medicare, Medicaid and Children’s Health Insurance Program (CHIP)
              <BR><BR>
                Private-funded: provided primarily through employer-sponsored plans; examples are Blue Cross and Blue Shield plans, non-Blue commercial plans, HMOs and self-funded employer plans</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{ url_for('static', filename = 'styles/img/doctor.jpg')}});"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Types of Insurance Subscribers</h2>
            <p class="lead mb-0">Dependent: Ages 0-25 <br> <br> Subscribers: Age 26+</p>
          </div>
        </div>
      </div>
    </section>